@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #0078AA;
    color: #fff;
}

header nav {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

nav h1, nav .menu, nav ul, nav ul li {
    display: inline;
}

nav h1, nav ul li {
    margin-right: 50px;
}

nav h1 {
    font-size: 1.75rem;
}

nav .menu-icon {
    display: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding-right: 30px;
    padding-left: 30px;
}

main h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 3rem;
}

main p {
    margin-top: 10px;
    margin-bottom: 10px;
}

main .image {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

main img {
    max-width: 80%;
}

footer {
    background-color: #3AB4F2;
    text-align: center;
}

footer p {
    padding: 30px;
    font-weight: bold;
}

@media (max-width: 768px) {
    nav .menu {
        float: right;
    }
    nav .menu-list {
        display: none;
    }
    nav .menu-icon {
        display: inline;
    }
}
